<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
 
<connectionStrings><add name="Cabinet_MedicalEntities" connectionString="metadata=res://*/EntityModel.csdl|res://*/EntityModel.ssdl|res://*/EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-KADSSA5\VERA;initial catalog=Cabinet_Medical;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>